<main *ngIf="resume">
  <header *ngIf="resume?.title && resume?.profile">
    <app-home [title]="resume?.title" [profile]="resume?.profile"></app-home>
  </header>
  <section *ngIf="resume?.profile">
    <app-profile [profile]="resume?.profile"></app-profile>
  </section>
  <section *ngIf="resume?.experiences">
    <app-experiences [experiences]="resume?.experiences"></app-experiences>
  </section>
  <section *ngIf="resume?.abilities">
    <app-abilities [abilities]="resume?.abilities"></app-abilities>
  </section>
  <section *ngIf="resume?.projects">
    <app-projects [projects]="resume?.projects"></app-projects>
  </section>
  <footer *ngIf="resume?.contact">
    <app-contact [contact]="resume?.contact"></app-contact>
  </footer>
</main>
