@import 'src/assets/variables';

@media only screen and (max-width: $max-mobile-screen) {

  :host {
    header {
      min-height: 75vh;
      padding-top: 25vh;
    }

    header, section, footer {
      & > * {
        max-width: calc(100% - 48px);
      }
    }

    .list {
      flex-direction: column;
    }
  }

}
